
.blocks{
  display: flex;
  flex-direction: column;
  text-align: center;
}
 
/* x- small */

/*@media (min-width: 475px) {

}  

/* small */
 @media (min-width: 640px) {
  .blocks{
    display: flex;
    margin-right: 4em;
    margin-left: 7em;
  }
 } 

/* medium */
 @media (min-width: 768px) {
  .blocks{
    display: flex;
    margin-right: 8em;
    margin-left: 10em;
  }
 } 

/* large */
 @media (min-width: 1024px) {
  .blocks{
    display: flex;
    margin-right: 15em;
    margin-left: 15em;
  }
 } 

 /* x-large */
 /*@media (min-width: 1280px) {
 }

/* x-x- large*/
 @media (min-width: 1536px) {
  .blocks{
    display: flex;
    margin-right: 20em;
    margin-left: 20em;
  }
 }
  
