/*The non media code is for everything for screens smaller than 475 px */

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__title{
  font-weight: 600;
  display: inline-block;
  font-size: var(--size-3xl);
  color: var(--clr-blue);
  text-decoration: none; 
  list-style: none;
  margin: -11em;
}

.header__menu{
  display: none;
  color: var(--clr-blue);
}

.header__bars{ 
  color: var(--clr-black);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: flex;
}

/* x- small */

/*@media (min-width: 475px) {

}  

/* small */
@media (min-width: 640px) {
  .header__title{
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-4xl);
    text-decoration: none;
    list-style: none;
    margin: -27rem;
  }

 } 

/* medium */
 @media (min-width: 768px) {
 
  .header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__title{
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-xl);
    text-decoration: none;
    list-style: none;
    margin: -13rem;
  }

  .header__link{
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-black);
    letter-spacing: 0.03em ;
  }
  
  /* the underline property*/
  .header__link:hover {
    position: relative;
    transition: content 1s;
  }
  
  .header__link:after{
    content:"";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: content 0.3s;
  }
  
  .header__link:hover:after{
    width: 100%;
  }
  
  /*  This sign: | */
  .header__line{
    border: 1px solid var(--clr-black);
    padding-top: 1.5rem;
  }
   
  .header__switch{
    display: block;
    color: var(--clr-black);
    width: var(--size-base);
    height: var(--size-base);
  }
  
  .header__contact{
    font-size: var(--size-xs);
  }

  .header__bars {
    display: none;
  }
  
 } 

 /* Between medium and small */
 @media (min-width: 920px) {
  .header__title{
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-xl);
    text-decoration: none;
    list-style: none;
    margin: -15rem;
  }
 }

/* large */
 @media (min-width: 1024px) {
  .header__link{
    font-size: var(--size-sm);
  }
  
  .header__title{
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-2xl);
    text-decoration: none;
    list-style: none;
    margin: -16em;
  }

  /* the underline property*/
  .header__link:hover {
    position: relative;
    transition: content 1s;
  }
  
  .header__link:after{
    content:"";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: content 0.3s;
  }
  
  .header__link:hover:after{
    width: 100%;
  }
  
   
  .header__switch{
    width: var(--size-xl);
    height: var(--size-xl);
  }
  
  .header__contact{
    font-size: var(--size-sm);
  }

 } 

 /* x-large */
 @media (min-width: 1280px) {
  .header__title{
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-3xl);
    text-decoration: none;
    list-style: none;
    margin: -19em;
  }
 }

/* x-x- large*/
 @media (min-width: 1536px) {
  .header__title{
    margin: right;
    font-weight: 600;
    display: inline-block;
    font-size: var(--size-3xl);
    text-decoration: none;
    list-style: none;
    margin-top: .5rem;
  }
  .header{
    font-size: var(--size-xl);
  }

 }
 