<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congressional District Challenge</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/modern-normalize.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/components/header.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/states/blocks.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/states/senator1.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/states/senator2.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/states/governor.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/states/officer.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/components/footer.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/util.css') }}" />
  </head>
  <body>
    <div id="app"></div>

     {% include "header.html" %}
    
    <main class="blocks">
      <div class="senator1"> 
      <section class="blocks__senator1 container section">
        <h7 class="blocks__title "> Senator {{ senator1['name'] }}</h7>
        <img class="blocks__image" src="{{ senator1['photoUrl'] }}" alt="Picture of Senator {{ senator1['name'] }}">
        <p class="blocks__name"> {{ senator1['party'] }}</p>
        <p class="blocks__description"> {{ senator1_desc }}</p>
        <p class="blocks__news"> Insert Recent News Here </p>
      </section>
    </div>

    <div class="senator2"> 
      <section class="blocks__senator2 container section">
        <h8 class="blocks2__title"> Senator {{ senator2['name'] }}</h8>
        <img class="blocks__image" src="{{ senator2['photoUrl'] }}" alt="Picture of Senator {{ senator2['name'] }}">
        <p class="blocks2__name"> {{ senator2['party'] }}</p>
        <p class="blocks2__description"> {{ senator2_desc }}</p>
        <p class="blocks2__news"> Insert Recent News Here </p>
      </section>
    </div>

      <div class="governor"> 
      <section class="blocks__governor container section">
        <h9 class="blocks3__title "> Governor {{ governor['name'] }}</h9>
        <img class="blocks__image" src="{{ governor['photoUrl'] }}" alt="Picture of Governor {{ governor['name'] }}">
        <p class="blocks3__name"> {{ governor['party'] }}</p>
        <p class="blocks3__description"> {{ governor_desc }}</p>
        <p class="blocks3__news"> Insert Recent News Here </p>
      </section>
    </div>

      <div class="officer"> 
      <section class="blocks__officer container section">
        <h10 class="blocks4__title"> Attorney General {{ attorneyGeneral['name'] }}</h10>
        <img class="blocks__image" src="{{ attorneyGeneral['photoUrl'] }}" alt="Picture of Attorney General {{ attorneyGeneral['name'] }}">
        <p class="blocks4__name"> {{ attorneyGeneral['party'] }}</p>
        <p class="blocks4__description"> {{ attorneyGeneral_desc }}</p>
        <p class="blocks4__news"> Insert Recent News Here </p>
      </section> 
    </div>
    </main>

     <footer class="footer container section"> 
      <h5 class="footer__title">NextGenPoliTech</h5>
     </footer>
  </body>
</html>
    