.election{
  text-align: center;
  font-size: var(--size-xl);
  font-family: 'Lato', sans-serif;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.election-title{
  background-color: var(--clr-white);
  font-size: var(--size-2xl);
  color: var(--clr-blue);
}
.election-caption{
 color: var(--clr-map);
}

.election-timer{
  font-size: var(--size-3xl);
  color: var(--clr-rose);
  border: 5px solid green;
  margin-right: 5rem;
  margin-left: 5rem;
}
 
/* x- small */

/*@media (min-width: 475px) {

}  

/* small */
/* @media (min-width: 640px) {

 } 

/* medium */
 /*@media (min-width: 768px) {

 } 

/* large */
 /*@media (min-width: 1024px) {
 
 } 

 /* x-large */
 /*@media (min-width: 1280px) {
 }

/* x-x- large*/
 /*@media (min-width: 1536px) {
 }
 */