/*This is for everything that is less than 475px */

.hero2{
    height: calc(70rem - .5rem);
    width: calc(50rem - .5rem);
    
}
.hero2__title{
  font-size: var(--size-2xl);
  color: var(--clr-rose);
  margin-bottom: 3rem;
}

.hero2__description {
  color: var(--clr-blue);
  margin-bottom: 3rem;
}

.hero2__help {
  margin-bottom: 3rem;
}

.hero2__btn{
  width: calc(5.5rem - .05rem);
}

.hero2__API {
  margin-bottom: 3rem;
}

.hero2__btn{
margin-bottom: 3rem;
}
.state__title {
  display: flex;
  margin-bottom: 3rem;
}



/* x- small */

@media (min-width: 475px) {
  .hero2 {
    height: calc(70rem - .5rem);
    width: calc(50rem - .5rem);
  }
}  

/* small */
 @media (min-width: 640px) {
  .hero2__title{
    font-size: var(--size-3xl);
  }
  .hero2 {
    height: calc(70rem - .5rem);
    width: calc(50rem - .5rem);
  }
 } 

/* medium */
 @media (min-width: 768px) {
  .hero2 {
    height: calc(70rem - .5rem);
    width: calc(50rem - .5rem);
  }
 } 

/* large */
 @media (min-width: 1024px) {
  .hero2 {
    height: calc(70rem - .5rem);
    width: calc(50rem - .5rem);
  }
 } 

 /* x-large */
 @media (min-width: 1280px) {
  .hero2 {
    height: calc(75rem - .5rem);
    width: calc(50rem - .5rem);

  }

  .hero2__title{
    font-size: var(--size-4xl);
  }

  .hero2__description{
    font-size: var(--size-lg);
  }

  .hero2__help {
    font-size: var(--size-lg);
  }
 }

/* x-x- large*/
  @media (min-width: 1536px) {
  .hero2 {
    height: calc(85rem - .5rem);
    width: calc(45rem - .5rem);
  }

  .hero2__title{
    font-size: var(--size-4xl);
  }

  .hero2__description{
    font-size: var(--size-lg);
  }

  .hero2__help {
    font-size: var(--size-lg);
  }

  @media (min-width: 2500px) {
    .hero2 {
      height: calc(90rem - .5rem);
      width: calc(65rem - .5rem);
    }
  
    .hero2__title{
      font-size: var(--size-5xl);
    }
  
    .hero2__description{
      font-size: var(--size-3xl);
    }
  
    .hero2__help {
      font-size: var(--size-3xl);
    }
  
    .hero2__btn{
      width: calc(7.5rem - .05rem);
      font-size: var(--size-3xl);
    }
    
    .hero2__API {
      margin-bottom: 7rem;
      size: var(--size-3xl);
    }
    

 } 
  }
 